<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="lib/angular.js"></script>
	<script src="lib/angular-route.js"></script>
	<script src="script_13.js"></script>
	<style type="text/css">
		.errors{
			color: red;
		}
		.success{
			color: green;
		}
	</style>
</head>
<body ng-app="myModule">
	<div ng-controller="myController">
		<button id="top" ng-click="scrollTo('bottom')">BOTTOM</button>
			<div>
				<p>this is angular js anchorscroll</p>
				<p>this is angular js anchorscroll</p>
				<p>this is angular js anchorscroll</p>
				<p>this is angular js anchorscroll</p>
				<p>this is angular js anchorscroll</p>
				<p>this is angular js anchorscroll</p>
				<p>this is angular js anchorscroll</p>
				<p>this is angular js anchorscroll</p>
				<p>this is angular js anchorscroll</p>
				<p>this is angular js anchorscroll</p>
				<p>this is angular js anchorscroll</p>
				<p>this is angular js anchorscroll</p>
				<p>this is angular js anchorscroll</p>
				<p>this is angular js anchorscroll</p>
				<p>this is angular js anchorscroll</p>
				<p>this is angular js anchorscroll</p>
				<p>this is angular js anchorscroll</p>
				<p>this is angular js anchorscroll</p>
				<p>this is angular js anchorscroll</p>
				<p>this is angular js anchorscroll</p>
				<p>this is angular js anchorscroll</p>
				<p>this is angular js anchorscroll</p>
				<p>this is angular js anchorscroll</p>
				<p>this is angular js anchorscroll</p>
				<p>this is angular js anchorscroll</p>
				<p>this is angular js anchorscroll</p>
				<p>this is angular js anchorscroll</p>
				<p>this is angular js anchorscroll</p>
				<p>this is angular js anchorscroll</p>
				<p>this is angular js anchorscroll</p>
				<p>this is angular js anchorscroll</p>
				<p>this is angular js anchorscroll</p>
				<p>this is angular js anchorscroll</p>
				<p>this is angular js anchorscroll</p>
				<p>this is angular js anchorscroll</p>
				<p>this is angular js anchorscroll</p>
				<p>this is angular js anchorscroll</p>
				<p>this is angular js anchorscroll</p>
				<p>this is angular js anchorscroll</p>
				<p>this is angular js anchorscroll</p>
				<p>this is angular js anchorscroll</p>
				<p>this is angular js anchorscroll</p>
				<p>this is angular js anchorscroll</p>
				<p>this is angular js anchorscroll</p>
				<p>this is angular js anchorscroll</p>
				<p>this is angular js anchorscroll</p>
			</div>
		<button id="bottom" ng-click="scrollTo('top')">TOP</button>
	</div>
</body>
</html>